@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --main-color: #3a86ff;
  --red: #ff4b78;
  --green: #a9ff54;
  --blue: #4ed3fc;
  --purple: #8d78fa;
  --yellow: #fdd457;
  --orange: #ff8a50;
  color-scheme: none;
}

:focus-visible {
  outline: none;
}

.p-checkbox.p-highlight .p-checkbox-box {
  border: none;
  background: none;
}

.p-checkbox .p-checkbox-box {
  border: none;
  background: none;
}

.p-inputtext:enabled:focus {
  outline: 1px solid var(--main-color);
}

.p-inputtext:disabled {
  background-color: #3f3f4600;
  color: #ffffff;
  border: none;
  padding: 0;
  font-size: 0.9rem;
}

* {
  font-family: 'Inter', sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 15px;
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #app {
    padding: 0 20px;
  }
}