@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .2s;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 15px;
}

body {
  margin: 0;
  background-color: #181818;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #app {
    padding: 0 20px;
  }
}